body {
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: #8ecae6;
	color: #ffffff;
}

.container {
	max-width: 800px;
	margin: 0px auto;
	background: #023047;
	box-shadow: 0 4px 16px rgba(82,45,128,0.10);
	padding: 40px 32px;
	border-radius: 12px;
}

#summary {
	display: flex;
	flex-direction: column;
}

#summary-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

img {
	width: 100%;
	height: auto;
	margin: 2rem;
	border-radius: 5px;
	border: 5px solid #fb8500
}

header {
	border-bottom: 2px solid #fb8500;
	padding-bottom: 18px;
	margin-bottom: 32px;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 8px;
	letter-spacing: 1px;
	color: #ffffff;
}

.contact-info {
	font-size: 1.05rem;
	color: #fff;
	margin-bottom: 0;
}

h2 {
	font-size: 1.35rem;
	color: #fb8500;
	margin-bottom: 12px;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.section {
	margin-bottom: 32px;
}

ul {
	padding-left: 20px;
	margin: 0;
}

li {
	margin-bottom: 14px;
	line-height: 1.6;
	color: #fff;
}

a {
	color: #8ecae6;
}

a:hover {
	color: #fb8500;
}

.orange-text {
	color: #fb8500;
	font-weight: 600;
}

@media (max-width: 768px) {
	.container {
		padding: 2rem;
		margin: 2rem;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	#summary-content {
		flex-direction: column;
		align-items: center;
	}
}
